<app-aside-bar></app-aside-bar>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-content">
      <section class="section" style="margin-top:-2%;">
        <div class="section-body">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
              <div class="card card-light">
                <div class="card-body">
                  <div> Liste des feuilles de temps</div>
                  <div class="line"></div>
                  <br>
                  <h6 id="visualTS"> Visualiser l’ensemble de vos feuilles de temps… </h6>
                  <br><br>
                  <div class="card-content d-flex">
                    <div class="line2"></div>

                    <div class="">
                      <h6 id="profileColl">Profil du collaborateur</h6>
                      <div class="d-flex">
                        <img class="rounded-circle"
                          src="https://scontent.fnbe1-2.fna.fbcdn.net/v/t1.6435-1/168544401_2958299887773318_4276280712870318848_n.jpg?stp=cp0_dst-jpg_e15_q65_s240x240&_nc_cat=109&ccb=1-6&_nc_sid=dbb9e7&_nc_ohc=WLjv6xUaIwYAX8HdaGy&_nc_ht=scontent.fnbe1-2.fna&oh=00_AT8erMGqAaMohf667gWMPzhHrZIDpfJgE6h2YRZ94gftSQ&oe=629FC7E8"
                          alt="">
                        <div class="col">
                          <h5 id="nameCollab"> Med Ali Kheriji </h5>
                          <h6 id="roleCollab">Directeur de mission</h6>
                        </div>
                        <div class="col-lg-0">
                          <h6 id="parDefaut">Par défaut</h6>
                        </div>
                        <div class="dropCollab col-lg-0">

                          <!-- <div class="container">  
                            <div class="dropdown mt-5">  
                                <button type="button" class="btn btn-primary dropdown-toggle">  
                                  <a class="dropdown-item" href="#"><i class="fa-solid fa-people-group"></i> changer le Collaborateur </a>  
                                </button>  
                                <div class="dropdown-menu">  
                                    <a class="dropdown-item" href="#"> <i class="fa fa-home"></i> Home </a>  
                                    <a class="dropdown-item" href="#"> <i class="fa fa-address-book"></i> Contact </a>  
                                    <a class="dropdown-item" href="#"> <i class="fa fa-bell"></i> Notifications </a>  
                                    <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Setting </a>  
                                </div>  
                            </div>  
                        </div>   -->
                        <div class="input-group">
                          <div class="input-group-btn">
                            <i class="material-icons search-icon">search</i>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>